aiohttp
aria2p
async_generator
bs4
base
cowpy
beautifulsoup4
cryptg
cffi
covid
coffeehouse
dnspython
emoji
gitpython
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
googletrans
google_images_download
gTTS
gTTS-token
hachoir
heroku3
httplib2
humanize
lxml
oauth2client
Pillow
psycopg2
psycopg2-binary
pybase64
pylast
pySmartDL
python-barcode
python-dotenv
pyGithub
pyfiglet
regex
instantmusic
youtube-dl
pytz
qrcode
requests
search-engine-parser
speedtest-cli
sqlalchemy
selenium
telethon
telethon-session-sqlalchemy
urbandict
lyricsgenius
redis
wikipedia
telegraph
python-dateutil
git+https://github.com/johnwmillr/LyricsGenius.git
justwatch
bitlyshortener
 